<p id="notice">
  <%= notice %>
</p>

<h1>Lista de Clientes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th colspan="3" class="text-center">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td>
          <%= client.name %>
        </td>
        <td>
          <%= client.email %>
        </td>
        <td>
          <%= client.telephone %>
        </td>
        <div class="collapse">
          <td>
            <%= link_to 'Exibir', client, class: "btn btn-success" %>
          </td>
          <td>
            <%= link_to 'Editar', edit_client_path(client), class:"btn btn-warning" %>
          </td>
          <td>
            <%= link_to 'Apagar', client, method: :delete, class:"btn btn-danger" ,data: { confirm: 'Você tem certeza que deseja apagar esse cliente? (Todos os pedidos relacionados a ele serão apagados também) ' } %>
          </td>
        </div>
      </tr>
      <% end %>
  </tbody>
</table>


<% if @clients.count == 0 %>
  <p class="table-none"> Nenhum cliente a ser exibido</p>
  <% end %>
    <br>

    <%= link_to 'Novo cliente', new_client_path, class: "btn btn-primary" %>