<p id="notice">
  <%= notice %>
</p>

<div class="row">
  <p>
    <strong>Produto:</strong>
    <%= @order.product.name %>
  </p>
</div>
<div class="row">
  <p>
    <strong>Cliente:</strong>
    <%= @order.client.name %>
  </p>
</div>
<%= link_to 'Editar', edit_order_path(@order), class: "btn btn-danger"%>
<%= link_to 'Voltar', orders_path, class: "btn btn-primary"%>