<p id="notice"><%= notice %></p>

<h1>Lista de Produtos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th colspan="3" class="text-center">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Exibir', product, class: "btn btn-success"%></td>
        <td><%= link_to 'Editar', edit_product_path(product), class: "btn btn-warning"%></td>
        <td><%= link_to 'Apagar', product, method: :delete, class: "btn btn-danger", data: { confirm: 'Você tem certeza que deseja apagar esse produto? (Todos os pedidos relacionados a ele serão apagados também)' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @products.count == 0 %>
  <p class="table-none"> Nenhum produto a ser exibido</p>
<% end %>

<br>

<%= link_to 'Novo Produto', new_product_path, class: "btn btn-primary" %>
