<div class="container-fluid">
<p id="notice">
  <%= notice %>
</p>
  <div class="row">
    <p>
      <strong>Id:</strong>
      <%= @product.id %>
    </p>
  </div>

  <div class="row">
    <p>
      <strong>Nome:</strong>
      <%= @product.name %>
    </p>
  </div>
  <div class="row">
    <p>
      <strong>Descrição:</strong>
      <%= @product.description %>
    </p>
  </div>
  <div class="row">
    <p>
      <strong>Preço:</strong>
      <%= @product.price %>
    </p>
  </div>
</div>
<%= link_to 'Editar', edit_product_path(@product), class: "btn btn-warning" %>
  <%= link_to 'Voltar', products_path, class: "btn btn-primary" %>